/* src/components/HeroSection/HeroSection.module.css */

/* Contenedor principal del carrusel */
.heroSlider {
  min-height: 45vh; /* Mantenemos la altura */
  position: relative; /* Clave para posicionar las imágenes de forma absoluta adentro */
  overflow: hidden; /* Asegura que nada se salga del contenedor */
  background-color: #333; /* Color de fondo mientras carga la primera imagen */
}

/* Overlay que se aplica sobre las imágenes */
.heroSlider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Overlay sutil */
  z-index: 1; /* El overlay debe estar por encima de las imágenes */
}

/* Estilo para cada imagen del slide */
.slideImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0; /* Las imágenes están detrás del overlay */
}


@media (min-width: 768px) {
  .heroSlider {
    min-height: 50vh;
  }
}

