/* src/styles/_base.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; /* 16px por defecto, para que rem funcione intuitivamente */
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans-serif);
  line-height: 1.6;
  color: var(--color-text-dark);
  background-color: var(--color-background-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Prevenir scroll horizontal accidental */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}